
Debug/function_parsing.log
Debug/function_parsing.obj
Debug/function_parsing.pch
Debug/function_parsing.tlog/CL.command.1.tlog
Debug/function_parsing.tlog/CL.read.1.tlog
Debug/function_parsing.tlog/CL.write.1.tlog
Debug/function_parsing.tlog/function_parsing.lastbuildstate
Debug/function_parsing.tlog/link.command.1.tlog
Debug/function_parsing.tlog/link.read.1.tlog
Debug/function_parsing.tlog/link.write.1.tlog
Debug/main.obj
Debug/stdafx.obj
Debug/vc141.idb
Debug/vc141.pdb
function_parsing.vcxproj
function_parsing.vcxproj.filters
function_parsing.vcxproj.user
stdafx.cpp
stdafx.h
targetver.h

.vscode/
build/